<div class="main-container">

        <ul>
          <div><%= @slot.date%> </li></div>
          <div><%= @slot.hour%></div>
          <div>Details</div>
       </ul>
      </div>
    </div>
  </div>
