// content = "<li><%= @message.content %></li>"

list = document.querySelector(".conversations-container")
list.insertAdjacentHTML("beforeend", "<%= j render "messages/card", message: @message%>")

form = document.querySelector(".messages-new")
form.innerHTML = "<%= j render "messages/form", message: Message.new, conversation: @conversation %>"
