<h1><%= @conversation.name %></h1>

<ul class="messages">
  <% @conversation.messages.each do |message| %>
  <%= render 'messages/card', message: message  %>
  <% end %>
</ul>

<div class="messages-new">
  <%= render 'messages/form', message: @message, conversation: @conversation %>
</div>

<%= link_to "Conversations overview", conversations_path %>

