<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo_inline.png" %>
    <% end %>

<div class="full-width-container">
<div class= "card-category"
  <div class="screen-container" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))>
    <h2 class="big-card-caption">
      <p>Hi<%= @current_user%></p>
      <% end %>
  </div>
</div>
</div>
</div>
