<h1>Coming soon</h1>

<p>
<%= link_to "Updates", status_updates_path %>
</p>
<p>
<%= link_to "Conversations", conversations_path %>
</p>
<p>
<%= link_to "Slots", slots_path %>
</p>
<p>
<%= link_to "Circles", circles_path %>
</p>
