.add-button-green {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: $green;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-items: center;
  position: sticky;
  left: 300px;
  bottom: 60px;
}

.add-button-green p {
  width: 60px;
  height: 60px;
  color: white;
  font-size: 50px;
  text-align: center;
  align-items: center;
  vertical-align: center;
}


.notification {
  background: $red;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  color: white;
  display:flex;
  align-items: center;
  text-align: center;
}
