.body-container {
  margin-top: 90px;
  padding: 8px 16px;
}

.body-container-conversation-page {
  /* Richard added this for the animateCss on the conversation index */
  height: 80vh;
}

.circles-title {
  display: flex;
}

.circles-title-red {
  color: $red;
}

.circles-cards ul {
  padding-inline-start: 0px;
}

.circles-card li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  text-align: center;
}

.circles-card-round {
  position: relative;
  background: white;
  width: 200px;
  height: 200px;
  color: $dark-grey;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 40px;
  box-shadow: 0px 4px 2px rgba(157, 157, 157, 0.2);
}

.circles-card-round h3 {
  font-size: 24px;
  color: $red;
  font-weight: bold;
  font-variant: small-caps;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 0px;
}

.circles-card-avatar-1 {
  animation-delay: 0.1s;
}

.circles-card-avatar-1 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -20px;
  right: 80px;
}

.circles-card-avatar-2 {
  animation-delay: 0.2s;
}

.circles-card-avatar-2 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -5px;
  right: 130px;
}

.circles-card-avatar-3 {
  animation-delay: 0.3s;
}

.circles-card-avatar-3 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 30px;
  right: 165px;
}

.circles-card-avatar-4 {
  animation-delay: 0.4s;
}

.circles-card-avatar-4 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 80px;
  right: 180px;
}

.circles-card-avatar-5 {
  animation-delay: 0.5s;
}

.circles-card-avatar-5 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 130px;
  right: 165px;
}

.circles-card-avatar-6 {
  animation-delay: 0.6s;
}

.circles-card-avatar-6 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 165px;
  right: 130px;
}

.circles-card-avatar-7 {
  animation-delay: 0.7s;
}

.circles-card-avatar-7 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 180px;
  right: 80px;
}

.circles-card-avatar-8 {
  animation-delay: 0.8s;
}

.circles-card-avatar-8 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 165px;
  right: 30px;
}

.circles-card-avatar-9 {
  animation-delay: 0.9s;
}

.circles-card-avatar-9 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 130px;
  right: -5px;
}

.circles-card-avatar-10 {
  animation-delay: 0.10s;
}

.circles-card-avatar-10 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 80px;
  right: -20px;
}

.circles-card-delete img {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 30px;
  right: -10px;
}

.circle-members-cards ul {
  padding-inline-start: 0px;
}

.circle-members-card li {
  list-style-type: none;
}

.circle-members-card {
  display: flex;
  justify-content: space-between;
}

.circle-members-content {
  background: white;
  width: 290px;
  height: 50px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 16px;
  box-shadow: 0px 4px 2px rgba(157, 157, 157, 0.2);
}

.circle-members-fullname {
  font-size: 16px;
  text-align: left;
  margin-left: 60px;
}

.circle-members-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 5px;
  right: 240px;
}

.circle-members-card-delete img {
  width: 40px;
  height: 40px;
  margin-top: 5px;
}


