.circles-container {
  padding: 8px 16px;
}

.circles-title {
  display: flex;
}

.circles-title-red {
  color: $red;
}

.circles-cards ul {
  padding-inline-start: 0px;
}

.circles-card li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  text-align: center;
}

.circles-card-round {
  position: relative;
  background: white;
  width: 200px;
  height: 200px;
  color: $dark-grey;
  text-align: center;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 16px;
}

.circles-card-round h3 {
  color: $dark-grey;
  font-weight: bold;
  font-variant: small-caps;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 0px;
}

.circles-card-avatar-1 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -20px;
  right: 80px;
}

.circles-card-avatar-2 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -5px;
  right: 130px;
}

.circles-card-avatar-3 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 30px;
  right: 165px;
}

.circles-card-avatar-4 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 80px;
  right: 180px;
}

.circles-card-avatar-5 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 130px;
  right: 165px;
}

.circles-card-avatar-6 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 165px;
  right: 130px;
}

.circles-card-avatar-7 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 180px;
  right: 80px;
}

.circles-card-avatar-8 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 165px;
  right: 30px;
}

.circles-card-avatar-9 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 130px;
  right: -5px;
}

.circles-card-avatar-10 img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 80px;
  right: -20px;
}

.circles-card-delete img {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 5px;
  right: 20px;
}

.circle-members-cards ul {
  padding-inline-start: 0px;
}

.circle-members-card li {
  list-style-type: none;
}

.circle-members-card {
  background: white;
  width: 275px;
  height: 35px;
  text-align: center;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.circle-members-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
