.main-container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: $light-grey;
}

.title {
  padding: 8px 16px;
  display: flex;
  height: 40px;
  position: fixed;
  top: 50px;
  width: 100%;
  height: 40px;
  background-color: $light-grey;
  z-index: 99999999;
}

.drop-shadow {
  box-shadow: 0px 4px 2px rgba(157, 157, 157, 0.2);
}

.notification {
  position: absolute;
  top: 4px;
  right: 8px;
  background: $red;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  color: white;
  display:flex;
  align-items: center;
  text-align: center;
  font-size: 10px;
  justify-content: center;
  font-weight: 600;
}
