.features-cards {
  grid-template-columns: 1fr 1fr;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.features-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 2px rgba(157, 157, 157, 0.2);
  height: 160px;
  width: 160px;
  text-align: center;
  margin-bottom: 20px;
}

.features-card p {
  color: $red;
  font-variant: small-caps;
  font-size: 16px;
  margin-bottom: 0px;
  // font-weight: bold;
}

.features-card img {
  height: 100px;
  width: 100%;
}

.features-card span {
  padding: 0 20px;
  color: $dark-grey;
  font-size: 9px;
  margin-bottom: 0px;
  display: block;
  line-height: 1;
}

