.navbar {
  justify-content: space-between;
  background: white;
  border-bottom: 0.001em solid $grey;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 0rem 1rem;
}

.navbar-brand img{
  width: 80px;
}

.navbar-items {
  display: flex;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
}

.navbar-items li {
  list-style-type: none;
  text-align: center;
}

.navbar-icons {
  display:flex;
  flex-grow:0;
  align-items: center;
}

.navbar-icons img {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-avatar {
  margin-left: 15px;
}
