.update-index {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.screen-container {
  padding: 16px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.cards {
  display: grid;
  width: 50%;
  border: 1px solid #6c757d;
  border-radius: 8px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  // justify-content: space-around;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.big-card-category {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

.misc-card {
  flex-shrink: 0;
  width: 100%;
}


.calendar-slot-card {
  width: 100%;
  border: 1px solid #6c757d;
  border-radius: 8px;
  justify-content: space-around;
  align-items: center;
  background-size: cover;
}

.flexbox-column {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-between;
}



// card for unread messages
.unread-conversation {
  font-weight: 800;
}

// cards for homepage

.homepage-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $light-grey;

}

.homepage-banner {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;

}

.homepage-card {
  width: 100%;
}

.homepage-card-details {
  border: 1px solid #adb5bd;

}

.homepage-appointment {
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #adb5bd;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  background-color: white;
    }

.homepage-appointment-img
  img{
    margin-right: 5px;
    border-radius: 50%;
  }

.intro-container {
    width: 303px;
    height: 74px;
    // left: 35px;
    top: 103px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    line-height: 35px;
    display: flex;
    align-items: center;
}

.appointment-avatar{
  border-radius: 50%;
 object-fit: cover;
}


.card-update {
  background: white;
  border: 1px solid #adb5bd;
  border-radius: 8px;
  margin: 8px;

}

.card-update-info {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

.card-update-content {
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

.card-update-info img{
  width: 100%;
}

.booking-card{
  background: white;
  border-radius: 8px;
  border: 1px solid $green;
}
.booking-day{
  background: $light-grey;
  border-radius: 8px;

}

.homepage-white-container {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: $light-grey;

}

.title-confirmation{
  padding: 8px 16px;
    display: flex;
    height: 40px;
    top: 50px;
    width: 100%;
    height: 40px;
    background-color: #F3F1F1;
    z-index: 99999999;
    margin-top: 65px;
}
