.time-slot {
  border: 1px solid grey;
  border-radius: 8px;
  background-color: white;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  padding: 0 16px;
}

.slots-container {
 display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
}

.slots-card {
 width: 90%;
}

.slot-appointment {
  display: flex;
  margin-bottom: 10px;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
}

.slot-card-details {
  width: 90%;
}

.slot-time,
.slot-label {
  margin: 0px;

}

.page-header{
padding-left: 16px;
font-size: 24px;

}

.indented-content{
  align-content: center;
  padding: 0 24px;
}
