.updates-card {
    background: white;
    /* border: 1px solid #adb5bd; */
    border-radius: 8px;
    /* margin: 8px; */
    // margin-right: 24px;
    // margin-left: 24px;
    // margin-bottom: 16px;

}

.updates-card-info {
  background: white;
  border-radius: 8px;
  display: flex;
  margin-bottom: 4px;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
}

.updates-card-content {
  justify-content: space-between;
  // align-items: center;
  padding: 10px 16px;
  p {
    margin-bottom: 0px;
  }
}

.updates-card-content  h3 {
    font-size: 16px;
    margin: 0;
    color: $dark-grey;
    font-weight: 600;
    margin-bottom: 4px;
}

.updates-card-content  h3 a {
    font-size: 16px;
    margin: 0;
    color: $dark-grey;
    font-weight: 600;
    margin-bottom: 0px;
}

.card-update-info img{
  width: 100%;
  justify-content: space-between;
}

.updates-link-show {
  display: flex;
  align-text: right;
  flex-direction: column;
  p {
    text-align: right;
    margin-bottom: 0px;
    a {
      color: $grey;
    }
  }
}

.updates-circle {

}

.updates-image {

}

.updates-image > * {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.updates-image-details > * {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.updates-card-header {
  display: flex;
  justify-content: space-between;
  padding: 4px 12px;
  border-bottom: 1px solid grey;
  img {
    width: 22px;
    height: 22px;
    top: 0px;
  }
  p {
    margin-top: 4px;
    margin-bottom: 0px;
    color: $grey;
  }
}

.updates-circle > h3 {
  color: $red;
  font-size: 14px;
  margin-bottom: 0px;
  font-weight: 650;

}

.updates-card-footer > p {
  color: white;
}
